{
  "extends": "../../tsconfig.options.json",
  "include": ["src/**/*.ts", "src/**/*.tsx", "tests/**/*.ts", "tests/**/*.tsx", "vite.config.ts"],
  "compilerOptions": {
    "lib": ["ES2024", "DOM", "DOM.Iterable"],
    "jsx": "react-jsx",
    "outDir": "../../.moon/cache/types/apps/{{ name | kebab_case }}"
  }
}
